

@media(min-width:576px){

   

    .video iframe{
        height: 200px;
    }

   

}

@media(min-width:768px){
  

    h2{
        font-size: 60pt;
    }

    
    .video iframe{
        height: 300px;
    }

    .team .lead{
        margin-bottom: 75px;
    }

    .subscribe .btn{
        margin: 0;
    }
   
}




@media(min-width:992px){

   

    
    .skewed h2,
    .skewed h2 .warning{
        font-size: 72pt;
    }



    .video iframe{
        width: 98%;
        height: 400px;
    }

    .team .lead{
        margin-bottom: 90px;
    }

 
}

@media(min-width:1200px){

    .container{
        max-width: 1170px;
    }

    .navbar-expand-lg .navbar-nav .nav-link{
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .navbar-light li a{
        font-size: 14pt;
    }

    .skewed h2,
    .skewed h2 .warning{
        font-size: 82pt;
    }

 

    .team .lead{
        margin-bottom: 90px;
    }

    h2{
        font-size: 62pt;
    }

    .achievements .a-counter{
        font-size: 84pt;
    }

    .achievements .svg-inline--fa{
        font-size: 80pt;
    }

}