/*global*/

*{
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
}

h1{
    font-size: 82pt;
    color: white;
    font-weight: 100;
}

h2{
    font-size: 60pt;
    font-weight: 100;
}



/*navigation*/

.mainNav li a{
    font-size: 14pt;
    color: white;
}